* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amithen';
}


@font-face {
    font-family: 'Amithen' ;
    src: url('../fonts/Amithen.ttf') format('ttf');
    src: url('../fonts/Amithen.otf') format('otf');
    src: url('../fonts/Amithen_Extra.otf') format('otf');
    src: url('../fonts/Amithen_Extra.ttf') format('ttf');

}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}

