@import url(general.css);

.container_inputs{
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 30px;
}

.container_inputs p{
    margin-top: 40px;
    font-size: 14px;
    cursor: pointer;
}

.inputs{
    width: 30%;
    height: 90%;
    margin: 15px ;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border: 1px solid gray;

}


.insta_text_icon{
    width: 175px;
    height: 51px;
    margin-top: 45px;
    margin-bottom: 45px;
    cursor: pointer;
}

input{
    width: 250px;
    height: 35px;
    padding: 7px;    
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid gray;
    border-radius: 3px;
}

input:focus{
    border: 2px solid red;
}

.btn>button{
    width: 250px;
    height: 35px;
    margin-top: 10px;
    background-color: #0099ff;
    border: 1px solid #0099ff;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.txt_sign_up{
    margin-top: 40px;
    font-size: 14px;
    cursor: pointer;
}

/* --------------------------------------- */
.container_sign_up{
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: -15px;
}

.sign_up{
    width: 30%;
    height: 100px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid gray;

}
.sign_up>p>span{
    color: #0066ff;
}


/* --------------------------------------- */

.container_get_the_app{
    width: 100%;
    height: 150px;
    background-color: #fff;
    text-align: center;
}

.play-google{
    margin-top: 20px;
    width: 140px;
    height: 50px;
}

.logo-microsoft{
    margin-top: 20px;
    margin-left: 10px;
    width: 140px;
    height: 50px;
}

.play-google:hover{
    cursor: pointer;
}

.logo-microsoft:hover{
    cursor: pointer;
}

/* ---------------------------------------- */
.footer{
    width: 100%;
    height: 100px;
    background-color: #fff;
    text-align: center;
}

ul{
    list-style-type: none;

}

li{
    display: inline-block;
    padding: 5px;
}

.footer>p{
    margin-top: 20px;
    display: inline-block;
}

.footer select{
    border: none;
    margin-right: 5px;
}
